version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: orliki-postgres
    restart: always
    environment:
      POSTGRES_DB: ProjektOrliki
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
